<div class="item">
  <input
    [id]="item.todo"
    type="checkbox"
    [checked]="item.status === 'co'"
    (change)="toggleItemStatus($event)"
  />
  <label [for]="item.todo">{{item.todo}}</label>

  @if (!editable()) {
  <div class="btn-wrapper">
    <button class="btn" (click)="startEditing()">Edit</button>
    <button class="btn btn-warn" (click)="deleteItem(item.id)">Delete</button>
  </div>
  }

  <!-- This section shows only if user clicks Edit button -->
  @if (editable()) {
  <div>
    <input
      class="sm-text-input"
      placeholder="edit item"
      [value]="item.todo"
      #editedItem
      (keyup.enter)="updateItem(editedItem.value, item.id, item.status)" />

    <div class="btn-wrapper">
      <button class="btn" (click)="finishEditing()">Cancel</button>
      <button class="btn btn-save" (click)="updateItem(editedItem.value, item.id, item.status)">
        Save
      </button>
    </div>
  </div>
  }
</div>