<div class="main">
    
  <label for="addItemInput">What would you like to do today?</label>
  <input 
    #newItem
    placeholder="Add an item"
    newItem.value=""
    class="lg-text-input"
    id="addItemInput" />
    <button class="btn-primary" 
      (click)="addTodo(newItem.value)">
      Add Item
    </button>
    <!-- Buttons that show all, still to do, or done items on click -->
     
    <div class="btn-wrapper">
      <button
        class="btn btn-menu"
        [class.active]="filter() === 'all'"
        (click)="filter.set('all')">
        All
      </button>

      <button
        class="btn btn-menu"
        [class.active]="filter() === 'to'"
        (click)="filter.set('to')">
        To Do
      </button>

      <button
        class="btn btn-menu"
        [class.active]="filter() === 'co'"
        (click)="filter.set('co')">
        Done
      </button>
    </div>

  <h2>
  {{filteredTodos().length}}
  <span> @if (filteredTodos().length === 1) { item } @else { items } </span>
</h2>

<ul>
  @for (item of filteredTodos(); track item.id) {
  <li>
    <todo-item
      [item]="item"
      (remove)="removeTodo(item.id)"
      (statusChanged)="updateTodoItem($event)"
    ></todo-item>
  </li>
  }
</ul>
</div>

